---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';
const pageTitle = "私のAstro学習ブログ";
// content/posts フォルダ内のpostsコレクションを取得
const posts = await getCollection('posts');
---
<BaseLayout title={pageTitle}>
	<h1 class="text-3xl font-bold mb-4">{pageTitle}</h1>
	<p class = "mb-4">ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
	<ul class="list-disc list-inside space-y-2">
    	{posts.map(post => (
      	<li>
        	<a href={`/posts/${post.slug}/`} class="text-blue-600 hover:underline">
          		{post.data.title}
        	</a>
      	</li>
    	))}
  	</ul>

</BaseLayout>

