---
import "../styles/global.css";
---
<nav class="flex gap-4 ml-8 mb-8 text-blue-600 font-medium">
    <a href="/" class="hover:underline">ホーム</a>
    <a href="/about/" class="hover:underline">概要</a>
    <a href="/blog/" class="hover:underline">ブログ</a>
</nav>